/*
 * HACK: I know I'm not using css nesting :( I don't feel like using a css preprocessor like sass for something this
 * small and I don't want people on pre-2023 browsers to have a bad experience. No, I'm not proud. Yes, this is
 * sunk-cost fallacy.
 */
:root {
    color-scheme: only light;
}

body {
    background: #000000 no-repeat center top fixed;
    background-size: cover;
}

#my_dataviz {
    display: none;
    position: relative;
    background: rgba(0, 0, 0, .5);
    margin: 10px;
    border-radius: 10px;
}

#my_dataviz .tick, #my_dataviz .domain {
    color: white
}

.title-image-container {
    text-align: center;
}

.title-image-container .title-image {
    width: 600px;
    height: 300px;
}

.configs-container {
    text-align: center;
}

.configs {
    margin: 30px 0 0 0;
    text-align: left;
    display: inline-block;
}

.configs .configs-columns-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.configs .configs-columns-container .configs-column {
    flex-grow: 1;
}

.configs .config-label {
    margin: 0 0 10px 0;
    display: block;
}

.configs .configs__config {
    padding: 7px 0;
}

.configs .configs__config .ignore__config input[type="checkbox"] {
    margin: 0 4px 4px 4px;
}

.configs .configs__config .checkbox-label, .configs .configs__config .select-label {
    display: inline;
    margin: 0;
}

.content-box {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: white;
}

.disclaimers-container, .submit-container, .graph-wrapper {
    text-align: center;
}

.graph-wrapper {
    position: relative;
}

.graph-wrapper .graph-tooltip {
    text-align: left;
}

.graph-wrapper .graph-tooltip .posProfit {
    color: lime;
}

.graph-wrapper .graph-tooltip .negProfit {
    color: red;
}

.graph-wrapper .graph-tooltip .graph-tooltip__label, .graph-wrapper .graph-tooltip .graph-tooltip__image {
    display: inline;
}

.graph-wrapper .graph-tooltip .graph-tooltip__label {
    position: relative;
    bottom: 15px;
    font-size: 25px;
    left: 10px;
}

.graph-wrapper .graph-tooltip .graph-tooltip__crop-image {
    height: 50px;
    width: 50px;
    margin: 5px 0 0 5px;
}

.graph-wrapper .graph-tooltip .graph-tooltip__currency {
    height: 35px;
    width: 35px;
    margin: 0 5px;
    position: relative;
    bottom: -10px;
}

.graph-wrapper .graph-tooltip {
    list-style: none;
    margin: 0 0 0 5px;
    padding: 0;
}

.graph-buttons {
    display: none;
}

.disclaimers-container {
    display: none;
}

.disclaimers-container .disclaimers {
    display: inline-block;
    text-align: left;
}

.grid-button {
    width: 200px;
    height: 50px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    border: 3px solid darkslategray;
}

.grid-button:hover {
    background-color: rgb(191, 191, 191);
}

.grid-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.submit-container .submit-button {
    width: 250px;
    height: 75px;
    font-size: 20px;
}

/* medium-large screens */
@media (851px <= width <= 1000px) {
    .fertilizer-select {
        width: 100%;
    }
}

/* medium sized screens */
@media (530px <= width <= 850px) {
    .title-image-container .title-image {
        width: 500px;
        height: 265px;
    }
    .fertilizer-select {
        width: 100%;
    }
}

/* small screens */
@media (width <= 529px) {
    .title-image-container .title-image {
        width: 250px;
        height: 132px;
    }
    .fertilizer-select {
        width: 100%;
    }
}

.totem-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.totem-list {
    list-style: none;
    margin: 10px 0 10px 5px;
    padding: 0;
}

.checkbox-input {
    padding: 2px 0;
}

.graph-tooltip__table {
    color: white;
    text-align: left;
}

.graph-tooltip__table .graph-tooltip__table__label {
    font-weight: normal;
}

.graph-tooltip__table .graph-tooltip__table__data {
    padding: 0 0 0 10px;
}

.graph-tooltip__table .graph-tooltip__table__data-currency {
    position: relative;
    top: -10px;
}

.footer-container {
    text-align: center;
    color:white;
}

.footer-link {
    color: white;
}